<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Are you sure you want to delete this Todo?</h2>
    <form action="/todo/<%= todo.id %>/delete/?_method=DELETE" method="POST">
        <div>
            <label for="name">Name:</label>
            <h3><%=todo.name%></h3>
        </div>
        <div>
            <label for="name">Description:</label>
            <p><%=todo.description%></p>
        </div>
        <a href="/">Cancel</a>
        <button>Delete</button>
        
    </form>
</body>
</html>