<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Edit</h2>
    <form action="/todo/<%= todo.id %>/edit/?_method=PUT" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" placeholder="<%=todo.name%>">
        </div>
        <div>
            <label for="name">Description:</label>
            <input type="text" name="description" placeholder="<%=todo.description%>">
        </div>
        <button>Edit</button>
    </form>
</body>
</html>